    <!--footer start-->

<footer class="resume copyright copyright-bg dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="link link-horizontal">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-12 g-mb-40 g-mb-0--lg pb-3">

                                <div class="text-start">
                                    <div class="format-head-text">
                                        <h3 class="about-font-header gradient-text" style="font-family:Microsoft JhengHei;">
                                            關於我們
                                        </h3>
                                    </div>
                                    <div style="height:1em"></div>
                                    <div class="format-sub-text mb-0">
                                        <p class="p-light about-para">
                                            臺南市臺灣鋼鐵足球隊在臺南市政府及臺南市體育總會足球委員會與鴻鑫企業有限公司還有臺灣鋼鐵集團共同支援下成立。
                                            我們致力於臺灣的足球發展，展翅上騰、無畏無懼就是我們的鋼鐵精神。
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-4 col-md-6 col-6 g-mb-40 g-mb-0--lg">
                                <div class="text-start">
                                    <div class="format-head-text">
                                        <h3 class="about-font-header gradient-text" style="font-family:Microsoft JhengHei;">
                                            相關連結
                                        </h3>
                                    </div>
                                    <div style="height:1em"></div>
                                    <p style="margin: 0.2em 0.2em 0.2em 1em;font-weight:bold"><a href="http://www.gkr.com.tw/index.html" target="_blank">台灣鋼鐵集團</a></p>

                                    <p style="margin:  0.2em 0.2em 0.2em 1em;font-weight:bold"><a href="https://health.jiajiebio.com/" target="_blank">加捷健康+</a></p>
                                    <p style="margin:  0.2em 0.2em 0.2em 1em;font-weight:bold"><a href="http://www.hyperice.com.tw/store/" target="_blank">Hyperice</a></p>
                                    <p style="margin:  0.2em 0.2em 0.2em 1em;font-weight:bold"><a href="https://www.mcdavid.com.tw/" target="_blank">Mcdavid</a></p>
                                    <p style="margin:  0.2em 0.2em 0.2em 1em;font-weight:bold"><a href="http://furthersoftware.com.tw/" target="_blank">豐碩資訊</a></p>
                                    <p style="margin:  0.2em 0.2em 0.2em 1em;font-weight:bold"><a href="https://www.instagram.com/fitogether.football/" target="_blank">Fitogether</a></p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-6 g-mb-40 g-mb-0--lg">
                                <div class="text-start">
                                    <div class="format-head-text">
                                        <h3 class="about-font-header gradient-text" style="font-family:Microsoft JhengHei;">
                                            網站連結
                                        </h3>
                                    </div>
                                    <div style="height:1em"></div>
                                    <p style="margin: 0.2em 0.2em 0.2em 1em;font-weight:bold"><a href="@Url.Content("~/")" >首頁</a></p>
                                    <p style="margin:  0.2em 0.2em 0.2em 1em;font-weight:bold"><a href="@Url.Content("~/blogs/zuei-sin-siao-si")" >最新消息</a></p>
                                    <p style="margin:  0.2em 0.2em 0.2em 1em;font-weight:bold"><a href="https://www.instagram.com/tsgfc.com.tw/">相簿專區</a></p>
                                    <p style="margin:  0.2em 0.2em 0.2em 1em;font-weight:bold"><a href="@Url.Content("~/pages/private-policy-page")" target="_blank">隱私權條款</a></p>
                                    <p style="margin:  0.2em 0.2em 0.2em 1em;font-weight:bold"><a href="@Url.Content("~/pages/shopping-policy-page")" target="_blank">購物須知</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="col-12">
                <div class="text-center">
                    <div class="social-link link-horizontal">
                        <ul class="justify-content-center">
                            <li>
                                <a class="copyright-text"
                                   href="https://www.facebook.com/football.tainan.taiwan/">
                                    <i aria-hidden="true" class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a class="copyright-text"
                                   href="https://www.youtube.com/channel/UCIrhzyoRJu0ayWXnav6AUMA/featured">
                                    <i aria-hidden="true" class="fa fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a class="copyright-text"
                                   href="https://www.instagram.com/tsgfc.com.tw/">
                                    <i aria-hidden="true" class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="m-l-auto center-para">
                    <h6 class="copyright-text text-center" style="font-family:Microsoft JhengHei;">
                        © 2021 powered by 臺南市臺灣鋼鐵足球俱樂部 | <a href="@Url.Content("/pages/private-policy-page")">隱私權條款</a> | <a href="@Url.Content("/pages/shopping-policy-page")">購物須知</a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer end-->