@page "/e-shop/orders/index"
@using System.Globalization
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using Volo.Abp.Users
@model CFTA.Web.Public.Pages.EShop.Orders.IndexModel
@inject ICurrentUser CurrentUser
@inject IThemeManager ThemeManager
@{

}
@functions {

    string EnumText(EasyAbp.EShop.Orders.Orders.OrderStatus orderStatus)
    {
        var result = "";
        @switch (orderStatus)
        {
            @case EasyAbp.EShop.Orders.Orders.OrderStatus.Pending:
                result = "等待付款";
                break;
            @case EasyAbp.EShop.Orders.Orders.OrderStatus.Processing:
                result = "處理中";
                break;
            @case EasyAbp.EShop.Orders.Orders.OrderStatus.Completed:
                result = "已出貨";
                break;
            @case EasyAbp.EShop.Orders.Orders.OrderStatus.Canceled:
                result = "已取消";
                break;
            @default:
                result = "未知狀態";
                break;
        }
        return result;
    }
}


@section styles{
<style>
    .img-account-profile {
        height: 10rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

        .card .card-header {
            font-weight: 500;
        }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
</style>
}



<section>
    <div class="collection-wrapper" style="min-height:80vh">
        <div class="container-xl px-4 mt-4">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#billing" type="button">訂單列表</button>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="billing">
                    <hr class="mt-0 mb-4">
                    <table class="table table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th>訂單編號</th>
                                <th style="text-align:right">金額</th>
                                <th>訂單狀態</th>
                                <th>訂單建立</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.OrdersDtos.TotalCount == 0)
                            {
                                <tr>

                                    <td colspan="99" class="text-center">
                                        <p>查無訂單資料</p>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                @foreach (var order in Model.OrdersDtos.Items)
                                {
                                    <tr>

                                        <td>
                                            <a href="@Url.Content("~/e-shop/orders/order/" + @order.Id)">
                                                @order.OrderNumber
                                            </a>
                                        </td>
                                        <td style="text-align:right">
                                            @(order.Currency + "$")  @(Convert.ToDecimal(order.ActualTotalPrice).ToString("#,###,##0"))
                                        </td>
                                        <td>
                                            @EnumText(order.OrderStatus)
                                            <br>
                                            @if (order.PaidTime.HasValue)
                                            {
                                                order.PaidTime.Value.ToString("YYYY-MM-DD HH:mm:ss");
                                            }
                                        </td>
                                        <td>@order.CreationTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>

